{% extends "adminlayout.html" %}
{% load static %}
{% block content %}


<div class="container ">
    <div class="row">
    <div class="col-sm-6">
        <img src="{% static 'images/download.png'  %}" style="width: 50%;" alt=""> 
    </div>
    <div class="col-sm-6 p-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ducimus dolores iusto omnis porro debitis accusantium distinctio dolor id illo, aliquid molestiae explicabo reprehenderit corrupti nam optio! Facilis, eveniet molestias?
    </div>
</div>

</div>



{% endblock %}